* {
  border: none;
  font-family: "FiraCode Nerd Font", "Noto Sans", sans-serif;
  font-size: 12px;
  color:rgba(211, 198, 170, 1.0)
}

window#waybar {
  background: transparent;
  min-height: 20px;
}

#workspaces{
  /* color: rgb(167, 192, 128); */
}
#workspaces button {
  padding: 0 10px;
  /* color: rgb(167, 192, 128); */
}

#taskbar {
  border-radius: 0px;
}
#taskbar button {
  border-radius: 0px;
}
#taskbar button.active {
  background-color: rgba(167, 192, 128, 0.6);
  border-radius: 5px;
}

.modules-right{
  padding: 2px;
  border: 2px solid rgba(167, 192, 128, 0.99);
  border-radius: 10px;
  background-color: rgba(55, 65, 69, 0.7);
}

#clock{
  color:rgba(73, 81, 86, 0.8);
  font-family: "FiraCode Nerd Font", "Noto Sans", sans-serif;
  font-weight: bold;
  font-size:17px;
}

#network,
#cpu,
#memory,
#temperature,
#battery,
#pulseaudio,
#backlight,
#custom-power {
  padding: 0 8px;
  color: #f0f0f0;
  border-left: 1px solid rgba(242, 239, 223, 0.8);
}

#network{
  border-left: none;
}
#cpu{
  min-width: 80px;
}
#temperature{
  
}
#custom-power{
  margin-right:10px;
}
#battery.warning {
  color: #E67E80;
}

#pulseaudio.muted {
  color: #999;
}

/* 温度が高すぎるとき警告色に */
#temperature.critical {
  color: #E67E80;
}
